@import "variables";
@import "general";
@import "nav";
@import "productos";
@import "nosotros";


.titulo{
    background-color: #00ffff;
}

h1{
    color: red;
    text-align: center;
    padding: 40px;
}
